// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$arabic-font: 'arabicFont';
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #ffffff;
$black: rgba(97, 97, 97, 0.9);
$warning: #f44336;
$success: #6BBD6E;

//Light Colors
$grey: #f8fbfcff;
$blue: #55c4ffff;
$red: #ff4e6aff;

//Dark Colors
//$dark_grey: #808080ff;
//$dark_blue: #1e2a32ff;
//$darker_blue: #2b3844ff;

//Main Colors (Light)
$primary_color: $grey;
$secondary_color: $white;
$secondary2_color: $red;
$secondary3_color: $blue;
$font_color: $black;


//Font Size
$h1: 21px;
$h2: 19px;
$h3: 17px;
$h4: 15px;
$h5: 13px;
$h6: 11px;


//Border
$border: #e0e0e0 solid 1px;
