.main-container {
    @include display-flex(row, flex-start, flex-start);
    .menu {
        align-self: stretch;
        min-height: 100vh;
        flex: 1;
        background-color: $dark_blue;
        padding-top: 30px;
        @include display-flex(column, flex-start, center);
        ul.menu-list {
            @include display-flex(column, flex-start, flex-start);
            width: 100%;
            margin: 0;
            padding: 0;
            li {
                list-style-type: none;
                margin-right: 50px;
                font-size: $h3;
                margin-top: 40px;
                color: $secondary_color;
                i {
                    margin-left: 10px;
                }
            }
            a:hover, li:hover, a.active, li.active {
                color: $secondary2_color;
            }
        }
    }
    .content {
        min-height: 100vh;
        flex: 5;
        background-color: $primary_color;
        padding: 0px 20px;
        .form-container{
            padding: 30px;
            .label-container{
                @include display-flex(row, flex-start, flex-start, wrap);
                margin-bottom: 40px;
                .label{
                    @include display-flex(row, space-between, center);
                    border: $border;
                    padding: 0px 20px;
                    margin-left: 20px;
                    width: 200px;
                    border-radius: 5px;
                    &.active{
                        background-color: $secondary2_color;
                        color: $secondary_color;
                    }
                }
            }
            .img-container {
                display: flex;
                justify-content: center;
                align-items: center;
                .profile-img {
                    width: 48px;
                    height: 48px;
                    border-radius: 100%;
                }
            }
            .splitter {
                @include display-flex(row, flex-start, center);
                h4 {
                    margin-left: 10px;
                }
                span {
                    flex: 1;
                    border-bottom: $border;
                    height: .5px;
                }
            }
            .section {
                @include display-flex(row, flex-start, flex-end);
                margin-bottom: 40px;
                .input-container{
                    flex: 1;
                    margin-left: 30px;
                }
                button {
                    margin-top: 0px;
                }
                &.base-line {
                }
            }
            &>.input-container {
                margin-bottom: 40px;
            }
            .input-container{
                flex-direction: column;
                label {
                    margin-bottom: 20px;
                }
                input, textarea, select {
                    background-color: $secondary_color;
                    border: $border;
                    :focus {
                        border-color: $secondary2_color;
                    }
                }
            }
            button {
                @include button-filled($h3);
                margin-top: 20px;
                padding: 15px 70px;
                width: auto;
                border-radius: 7px;
                &.btn-edit {
                    @include button-light-rounded($h4, $secondary3_color);
                    margin-left: 20px;
                }
                &.btn-delete {
                    @include button-light-rounded($h4);
                }
            }
        }
        .add-btn {
            margin-bottom: 20px;
        }
        .table {
            width: 100%;
            tr {
                @include display-flex(row, center, center);
                td, th {
                    flex: 1
                }
            }
        }
    }
}


//Tags Input
.ti-new-tag-input{
    border: none !important;
}
