* {
    zoom: .98;
    -moz-transform: scale(.98);
    -moz-transform-origin: 0 0;
}
html, body, .main-container {
    zoom: 1;
    -moz-transform: scale(1);
    -moz-transform-origin: 0 0;
}
.main-container{
    background-color: $primary_color;
    //background-color: red;
    @include display-flex(column, space-between, stretch);
    min-height: 100vh;
    width: 100%;

    // nav
    .main-nav{
        background-color: $secondary_color;
        //background-color: blue;
        margin: 0;
        padding: 10px 20px;
        @include display-flex(row, space-between, center);
        flex-wrap: wrap;
        box-shadow: $box-shadow;
        .nav-icon{
            font-size: $h1;
            position: absolute;
            left: 15px;
            top: 26px;
        }
        img{
            width: 50px;
        }
        li {
            //float: right;
            list-style-type: none;
            &.active a{
                color: $secondary2_color;
            }
        }
        .start-nav{
            flex: 0;
        }
        .middle-nav {
            //flex: auto;
            @include display-flex(row, flex-start, center, wrap);
            li {
                margin-left: 25px;
            }
        }
        .end-nav {
            flex: auto;
            @include display-flex(row, flex-end, center);
            li {
                margin-right: 25px;
                button.signup-button {
                    @include button-light-rounded ($h3);
                }
                img {
                    height: 18px;
                    @include display-flex(row, space-between, center);
                }
                .profile-img {
                    width: 40px;
                    height: 40px;
                    border-radius: 20px;
                    margin-left: 10px;
                }
                input {
                    @include input;
                    min-width: 200px;
                }
                form {
                    margin-left: 25px;
                }
            }
        }
        //secondary nav
        &.secondary-nav {
            background-color: transparent;
            box-shadow: none;
            align-self: flex-start;
        }
    }
    .row {
        flex: 1;
        @include display-flex(row, space-between, center);
    }
    .col {
        flex: 1;
        @include display-flex(column, space-between, center);
    }
    // Footer
    .footer {
        box-shadow: $box-shadow;
        margin: 0;
        padding: 10px 0 0 0;
        .top {
            @include display-flex(row, space-between, baseline, wrap);
            font-size: $h4;
        }
        .col {
            padding: 20px;
            &>img {
                width: 60px;
            }
            a {
                padding: 10px;
            }
            p {
                min-width: 250px;
            }
        }
        .middle {
            .companies {
                @include display-flex(row, center, center, wrap);
                a {
                    margin-right: 10px;
                    margin-left: 10px;
                    text-align: center;
                    img{
                        height: 50px;
                        width: 50px;
                    }
                }
            }
        }
        .bottom {
            @include display-flex(row, space-between, center);
            p {
                display: block;
                font-size: $h6;
                a{
                    font-size: $h6;
                }
            }
            a {
                font-size: 20px;
            }
        }
    }
}
.secondary-nav {
    .middle-nav{
        li {
            line-height: 30px;
        }
    }
}
.submit-button{
    @include button-filled($h5)
}




// Contact us form
.content {
    flex: 1;
    @include display-flex(column, flex-start, center);
    flex-direction: column;
    margin: 50px;
    form {
        padding: 20px 40px;
        box-shadow: $box-shadow;
        border-radius: 10px;
        background-color: $secondary_color;
        text-align: center;
        min-width: 350px;
        .input-container {
            margin-top: 30px;
        }
        .submit-button{
            @include button-filled($h5);
            margin-top: 20px;
        }
    }
}



//Auth
.login-form {
    .logo {
        width: 80px;
        margin-bottom: 20px;
    }
    .horizontal-list {
        li {
            box-shadow: $box-shadow;
            border-radius: 5px;
            padding: 20px 40px;
        }
        img {
            width: 20px;
        }
    }
}

.signup-form{
    @include display-flex(row, center, center, wrap);
    min-height: 100vh;
    .promotion{
        flex: .6;
        margin-right: 200px;
        align-self: flex-start;
        margin-top: 200px;
        li{
            list-style-type: none;
            font-size: $h2;
            margin-top: 30px;
            i{
                color: $secondary2_color;
            }
        }
    }
    .content.login-form{
        align-items: flex-start;
        .signup-form-container{
            @include display-flex(column, center, center)
        }
    }
}



//Anime
#anime_list{
    align-self: stretch;
}
.list-container{
    @include display-flex(row, center, center, wrap);
    &.version2 {
        @include display-flex(row, flex-start, flex-start, wrap);
        .list-item {
            flex-basis: auto;
            .anime-container {
                background-color: transparent;
                box-shadow: none;
                .middle{
                    align-items: flex-start;
                }
                img {
                    //height: 280px;
                    border-radius: 10px;
                    margin-bottom: 10px;
                    max-height: 300px;
                }
            }
        }
    }
    &.version3 {
        .list-item {
            max-width: 570px;
            .anime-container {
                padding-top: 0;
                .middle {
                    height: max-content;
                    .anime-image{
                        position: relative;
                        & > img {
                            height: 326px;
                            width: 230px;
                        }
                        .title-area{
                            color: #F8FBFC;
                            width: 100%;
                            position: absolute;
                            bottom: 0;
                            background-color: rgba(0, 0, 0, 0.76);
                        }
                    }
                    .left {
                        height: 326px;
                        padding: 0;
                        &>* {
                            padding-right: 10px;
                            align-self: stretch;
                        }
                        ul.sources, div.bottom{
                            li {
                                min-width: auto;
                            }
                            img{
                                margin-right: 5px;
                                width: 30px;
                                filter: invert(90%);
                            }
                            a.active img{
                                filter: invert(50%);
                            }
                        }
                    }
                    .bottom {
                        margin: 0;
                        background-color: $primary_color;
                        @include display-flex(row, flex-start, flex-start, wrap);
                        .categories{
                            @include display-flex(row, flex-start, flex-start, wrap);
                            flex: 1;
                            margin-bottom: 3px;
                            .btn-category{
                                @include button-light-rounded($h6);
                                background-color: $secondary_color;
                                margin-bottom: 5px;
                                border-color: $primary_color;
                            }
                            li:first-child a{
                                @include button-filled($h6);
                                border-radius: 25px;
                                border-color: $secondary2_color;
                            }
                        }
                    }
                }
                .actions-area {
                    flex: 0;
                    align-self: center;
                    .toggle-icon{
                        font-size: 20px;
                        margin-left: 5px;
                    }
                    .action-list{
                        width: 150px;
                        li{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    li {
        list-style-type: none;
    }
    .list-item {
        flex-basis: 30%;
        margin: 1%;
    }
    .anime-container{
        background-color: $secondary_color;
        box-shadow: $box-shadow;
        padding-top: 10px;
        .top{
            ul{
                padding: 10px 30px;
                justify-content: center;
                flex-wrap: wrap;
                li{
                    margin-left: 5px;
                    margin-right: 5px;
                }
            }
        }
        .middle{
            font-size: $h4;
            height: 300px;
            &>img{
                //width: 40%;
            }
            .left{
                padding: 10px;
                height: 300px;
                @include display-flex(column, space-between, center);
                ul{
                    @include display-flex(row, flex-start, center, wrap);
                    padding: 0;
                    li{
                        flex-basis: auto;
                        min-width: 46%;
                        margin-left: 2%;
                        margin-bottom: 15px;
                        i{
                            margin-left: 5px;
                        }
                    }
                }
                p {
                    align-self: flex-end;
                    overflow-y: auto;
                    max-height: 150px;
                    &::-webkit-scrollbar {
                        width: 3px;
                    }
                    &::-webkit-scrollbar-track {
                        background: $primary_color;
                    }
                    &::-webkit-scrollbar-thumb {
                        background-color: $black;
                        border-radius: 20px;
                    }
                }
            }
        }
        .bottom{
            ul{
                flex-wrap: wrap;
                justify-content: center;
                padding: 20px;
                img{
                    margin-right: 5px;
                    width: 30px;
                    filter: invert(90%);
                }
                a.active img{
                    filter: invert(50%);
                }
            }
        }
    }
    .actions-area{
        justify-content: flex-end;
        position: relative;
        i {
            margin-right: 5px;
        }
        p {
            margin: 0;
            margin-right: 10px;
        }
        .action-list{
            padding: 20px 20px;
            padding-right: 5px;
            border: $border;
            position: absolute;
            border-radius: 5px;
            text-align: right;
            bottom: 30px;
            background: $secondary_color;
            ul {
                margin: 0;
                padding: 0;
                li {
                    margin-bottom: 10px;
                    font-size: $h5;
                    &.active{
                        color: $secondary2_color;
                    }
                    &.clickable:hover{
                        color: $secondary2_color;
                    }

                }
            }

        }
    }
}





//News

.news {
    padding-left: 20%;
    @include display-flex(row, space-between, flex-start, wrap);
    .filter {
        background-color: $secondary_color;
        color: $font_color;
        margin-top: 20px;
        padding: 10px;
        @include display-flex(column, flex-start, center);
        flex: 1;
        ul {
            width: 100%;
            padding: 0;
            &>div {
                width: 100%;
            }
            li {
                margin-bottom: 20px;
                @include display-flex(row, space-between, flex-start);
                width: 100%;
                i {
                    color: #d2d2d2;
                }
                &>i {
                    flex: 0;
                }
                &.active {
                    &>i, &>a{
                        color: $secondary2_color;
                    }
                }
            }
            .sub-list{
                @include display-flex(column, flex-start, flex-start);
                li, input {
                    margin-right: 40px;
                }
            }
            input {
                @include input;
                width: auto;
                margin-top: 10px;
            }
            button {
                @include button-filled($h5);

            }
        }
    }
    .news-area{
        flex: 4;
        @include display-flex(column, space-between, stretch);
        padding-right: 40px;
        .news-item {
            @include display-flex(row, space-between, flex-start, wrap);
            margin-top: 20px;
            background-color: $secondary_color;
            &>img {
                flex: 1;
                max-width: 100%;
            }
            .left-container {
                flex: 2;
                @include display-flex(column, space-between, flex-start);
                min-height: 300px;
                padding: 0px 10px;
                .bottom {
                    width: 100%;
                    @include display-flex(row, space-between, center);
                    .bottom-left {
                        @include display-flex(row, center, center);
                        button {
                            @include button-light-rounded($h5);
                            margin: 0px 10px;
                        }
                    }
                }
            }
        }
    }
}



//Loader
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid $font_color;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $font_color transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.loader-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

//.TV_SHORT, .TV, .OVA, .ONA, .MOVIE{
//    display: none;
//    &:nth-of-type(1){
//        display: flex;
//    }
//}
