@media only screen and (min-width: 1440px) {

}
@media only screen and (max-width: 1440px) {
    .list-container .list-item {
        flex-basis: 40%;
    }
    .main-container .main-nav .end-nav {
        justify-content: center;
    }
    .news {
        padding-left: 0;
    }
}
@media only screen and (max-width: 1024px) {
    .list-container .list-item {
        flex-basis: 46%;
    }
    .news .news-area .news-item {
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (max-width: 768px) {
    .list-container .list-item {
        flex-basis: 80%;
    }
}
@media only screen and (max-width: 767px) {
    .sm-only{
        display: block !important;
    }
    .hidden-sm{
        display: none !important;
    }
    .list-container .list-item {
        flex-basis: 95%;
        margin-top: 20px;
        .middle{
            flex-wrap: wrap;
            height: auto;
            justify-content: center;
            img {
                height: 200px;
            }
        }
    }
    .main-container #nav, .main-container #nav .middle-nav, .main-container #nav .end-nav, .main-container #nav .end-nav li{
        flex-direction: column;
        text-align: center;
        margin-right: 0;
        margin-left: 0;
        li {
            margin-top: 20px !important;
        }
        .no-padding {
            margin-left: 25px !important;
        }
        .signup-button{
            margin-left: 25px;
        }
    }
    .main-container #nav .middle-nav {
        margin: 0;
        li {
            &:first-child{
                margin-top: 0 !important;
            }
        }
    }
    .news .news-area {
        padding-right: 0;
    }
}
